<!DOCTYPE html>
<!-- Configurar el Thymeleaf en el HTML -->
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <!-- Se recibe un objeto del controldor y se extrae información con el formato objeto.atributo -->
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastname}"></li>
    </ul>
</body>

</html>